.standfirst {
  display: flex;
  margin: 0 auto;
  max-width: 56.25rem;

  @media (max-width: 34.375em) {
    flex-wrap: wrap;

    aside {
      margin: 0 auto;
    }
  }

  p {
    line-height: 1.4;
    font-style: italic;
    font-weight: 600;
    font-size: 1.25rem;
    max-width: 56.25rem;
  }
}
