.standfirst {
  display: flex;
  margin: 0 auto;
  max-width: 56.25rem;
  margin-bottom: 3rem;

  @media (max-width: 550px) {
  }

  p {
    line-height: 1.4;
    font-style: italic;
    font-weight: 600;
    font-size: 1.25rem;
    max-width: 56.25rem;
  }

  @media (max-width: 930px) {
    flex-wrap: wrap;

    aside {
      margin: 0 auto 2rem auto;
      text-align: center;
    }

    p {
      padding: 0 2rem;
      max-width: 900px;
      text-align: center;
    }
  }
}
